{include file="public/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm6 layui-col-md3" style="width: 50%;">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size:20px;">
                    推流地址①：rtmp://zbs.04xr.cn/aczb/vod111
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">1</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" style="font-size:20px;">直播源地址①：http://vlc.04xr.cn/aczb/vod111.m3u8</p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3" style="width: 50%;">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size:20px;">
                    推流地址②：rtmp://zbs.04xr.cn/aczb/vod222
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">2</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" style="font-size:20px;">直播源地址②：http://vlc.04xr.cn/aczb/vod222.m3u8</p>
                </div>
            </div>
        </div>
                <p></p><p></p>
               <p style="font-size:20px;">OBS下载：<a href="/static/OBS-Studio-27.2.4-Full-Installer-x64.exe">OBS-Studio-27.2.4</a></p>
		<br/><br/>
		<div>
		<p style="font-size:30px;">OBS 推流配置示例：</p>
		<br/>
		<img src="/static/pspspp.jpg" />
		</div>


    </div>
</div>
</div>
{include file="public/footer" /}
</body>
</html>
